{% extends 'base.html' %}

{% block content %}
<form action="/activity" method="POST" enctype="multipart/form-data" class="activity-create-card">
    {{form.csrf_token}}
    Title: {{form.activity_name}} 
    {%for err in form.activity_name.errors%}
        <span class="flash">{{err}}</span>
    {% endfor %}<br>

    Select Pet(s): {{form.pet_select}}
    {%for err in form.pet_select.errors%}
        <span class="flash">{{err}}</span>
    {% endfor %} <br>

    {{form.activity_type.label}}: {{form.activity_type}}
    {%for err in form.activity_type.errors%}
        <span class="flash">{{err}}</span>
    {% endfor %} <br>

    {{form.date.label}}: {{form.date}}
    {%for err in form.date.errors%}
        <span class="flash">{{err}}</span>
    {% endfor %} <br>
    
    {{form.gpx_file.label}}: {{form.gpx_file}}
    {%for err in form.gpx_file.errors%}
        <span class="flash">{{err}}</span>
    {% endfor %} <br>

    {{form.submit}}
</form>
{% endblock %}