{% extends 'base.html' %}

{% block content %}  
    <h2>{{activity.activity_name}}
    </h2>
    <h3>Type: {{activity.activity_type}}</h3> <br>

    <script>
        var lng = {{lng}}
        var lat = {{lat}}
    </script>
    {# <h1>Google Maps</h1>
    <div id="map"></div> #}

    Date: {{activity.date}} <br>
    Max Speed: {{max_speed}}mph <br>
    Avg Speed: {{avg_speed}}mph <br>
    Total Distance: {{total_distance}}miles
    <div id="plotly-map">

    <iframe srcdoc="{{m_h}}" height=100% width=100% title="Iframe Example" seamless ></iframe>
    </div>
    <br>
    Delete Activity:<a href="/activity/delete/{{activity.activity_id}}">Delete</a>
{% endblock %}
