{% extends 'base.html' %}

{% block content %}
   
<div class="card-container">
    {% if current_user.is_anonymous %}
    <h3> Welcome to the pack!</h3>
    <div class="homepage-card">
        Please login in or register an account to start tracking your pet's activities and growing your pack!
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <h3> Welcome back to the pack </h3> <br>
        <div class="homepage-card">
            <h3>{{current_user.city}}</h3>
            <img src="http:{{weather.current_weather_icon}}" alt="" srcset=""> 
            {{weather_sentence}} <br>
            The temperature is {{weather.current_temp}}°F 

        </div>
        {% if upcoming_birthdays %}        
            <br>
                <h3>Next Birthday in the Pack</h3>
            <div class="homepage-card">
                {{upcoming_birthdays[0].pet_name}} is turning {{upcoming_birthdays[0].upcoming_age}} on {{upcoming_birthdays[0].birthday}}
            </div>
        {%endif%}
    {% endif %}

</div>
{% endblock %}