{% extends 'base.html' %}

{% block content %}
   
<div class="card-container">
    {% if current_user.is_anonymous %}
    
    <div class="card">
        <h3> Welcome to the pack!</h3> <br>
        Please login in or register an account to start tracking your pet activities and growing your pack!
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
    <div class="card">
        <h3> Welcome back to the pack! </h3> <br>
        <img src="http:{{weather.current_weather_icon}}" alt="" srcset=""> 
        Current Weather in {{current_user.city}} is {{weather.current_weather}} and {{weather.current_temp}}°F.  
    </div>
    {% endif %}

</div>
{% endblock %}