{% extends 'base.html' %}

{% block content %}
<h3>Pack Leaderboard</h3>
<div class="leaderboard">
    <div class="leaderboard-header">
        <div class="leaderboard-position">
            Pos.
        </div>
        <div class="leaderboard-name">
            Name
        </div>
        <div class="leaderboard-distance">
            Distance
        </div>
    </div>
    {% for position in leaderboard %}
    <div class="position-section">
        
        <div class="pet-position">
            <div class="leaderboard-position">
                #{{loop.index}}
            </div>
            <div class="leaderboard-name">
                {{position[0]}}
            </div>
            <div class="leaderboard-distance">
                {{position[1]}} Miles
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>

<form action="/pack" method="POST" novalidate
class="add-to-pack-card">
    {{form.csrf_token}}
    {{form.name_search.label}}
    {{form.name_search}} {{form.search}}
</form>








{% endblock %}