{% extends 'base.html' %}

{% block content %}
<h3>The Pack</h3>
<div class="card-container">
    {% for pet in pack %}
        <div class="card">
            {{pet.pet_name}} <br>
            Total Active Miles: {{total_distances[pet.pet_name]}}
        </div>
        
    {% endfor %}
</div>
<br><br>

<form action="/pack" method="POST" novalidate>
    {{form.csrf_token}}
    {{form.name_search.label}} <br>
    {{form.name_search}} {{form.search}}

</form>


{% for position in leaderboard %}
    {{position[0]}}
    Total Miles: {{position[1]}}

{% endfor %}

{% endblock %}